.card {
    width: 95px;
    height: 170px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FEE;
    float: left;
}

.card_image {
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.value {
    margin-top: 15px;
    text-align: center;
    font-size: 70px;
}