:root {
    --background-color: #FFFFFF;
    --text-color: #000000cf;
    --button-background-color: #e9e9e9;
    --button-hover-color: #d9d9d9;
    --bubble-border-color: #ddd;
    --bubble-background-color: #f0f0f0;
    --bubble-hover-color: #e0e0e0;
    --card-background-color: #FFF7F0;
    --card-border-color: #0000007f;
    --card-text-color: #000000cf;

}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --text-color: #ffffff;
        --button-background-color: #202020;
        --button-hover-color: #303030;
        --bubble-border-color: #333;
        --bubble-background-color: #191919;
        --bubble-hover-color: #202020;
        --card-background-color: #2d2b29;
        --card-border-color: #ffffff5f;
        --card-text-color: #ffffffcf;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

main {
    max-width: 700px;
    padding: 1rem;
    text-align: left;
    margin: 0 auto;
}

.seeds {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 1rem;
    font-size: 1rem;
}

.current-seed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5em;
}

.seed-button {
    appearance: none;
    text-decoration: none;
    color: var(--text-color);
    width: 2.5rem;
    border-radius: 100%;
    background: var(--button-background-color);
}

.seed-button:hover {
    background: var(--button-hover-color);
}

.seed-button > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    min-height: 2rem;
    margin: 0 0 1rem;
    //border: 1px solid var(--bubble-border-color);
    border-radius: 0.4rem;
    background-color: var(--bubble-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    cursor: pointer;
    padding: 1rem;

}

.bubble:hover {
    background: var(--bubble-hover-color)

}

.bubble > span {
    margin: 0 0 0;
    font-size: 1.2rem;
    font-weight: 400;

}

.cards {
    display: none;
    margin: 0.8rem 0 0;
}

.card {
    float: left;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    font-size: 4rem;
    width: 1.6em;
    height: 2.4em;
    margin: 0.2rem;
    border: 1px solid var(--card-border-color);
    border-radius: 0.13em;
    background-color: var(--card-background-color);
    font-family: serif;
    color: var(--card-text-color)
}

@media only screen and (max-width: 600px) {
    .card {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    .card {
        font-size: 2rem;
    }
}

.card_image {
    height: 1em;
}

.value {
    line-height: 1;
    height: 0.8em;
}