:root {
    --bg-color: #FAFAFA;
    --border-color: #ddd;
    --text-color: #282828;
    --primary-color: #2980b9;
    --primary-text-color: #FFF;
    --secondary-text-color: #505050;
    --button-hover-color: #f0f0f0;
    --theme-color: #D32F2F;
    --theme-border-color: #B71C1C;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --border-color: #333;
        --text-color: #FFF;
        --primary-color: #2980b9;
        --primary-text-color: #FFF;
        --secondary-text-color: #BBB;
        --button-hover-color: #111
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
}

nav {
    margin-bottom: 0.5rem;
    padding: 1rem;
}
nav button, input[type=submit] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

nav button:hover, input[type=submit]:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

main {
    padding: 1rem;
    padding-top: 0;
    padding-left: 0.5rem;
}

main ul {
    padding: 0;
    margin: 0;
}

main li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    min-height: 3.4rem;
    position: relative;
}
main li::after {
    content: '';
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0;
    height: 0;
    border-bottom: solid 1px var(--border-color);
}
main li:last-child::after {
    content: none;
}
main li div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.4rem;
}
main li div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
main li div:nth-child(2) span {
    display: block;
}
main li div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main li .rank {
    font-weight: 500;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
}
main li .name {
    font-weight: 500;
    font-size: 1.1rem;
}
main li .total-score {
    font-size: 0.7rem;
    color: var(--secondary-text-color);
    margin-top: -0.1rem;
}
main li .score {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 1rem;
}

main li .text-inactive {
    color: var(--secondary-text-color);
    font-size: 0.75rem;
    text-align: right;
    padding-right: 1rem;
}

main li .time-inactive {
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    padding-right: 1rem;
}

.inactive-players {
    opacity: 0.6;
}

main > .container > span {
    padding: 1.5rem 1rem 0.5rem;
    display: block;
    font-weight: 500;
    opacity: 0.6;
}

.container {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 700px) {
    .container {
        width: 700px;
    }
    .dialog-window {
        left: 50%;
        width: 700px;
        margin-left: -350px;
    }
}

.enter-game .hide {
    display: none;
}

input[type=text], select {
    width: 100%;
    border-radius: 0;
    background-color: var(--bg-color);
    border: solid 1px var(--border-color);
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--primary-text-color);
}

select {
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") 100% 5px no-repeat, var(--bg-color);
    background-blend-mode: difference;
  
}

input[type=text]:focus, select:focus {
    outline: none;
}

input[type=text]::-moz-focus-inner, select::-moz-focus-inner {
    border: 0;
}

input::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}

.choices {
}

.choices > div > input {
    display: none;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.choices > div > label {
    padding: 0.3rem;
    padding-left: 2.1rem;
    display: block;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.choices > div > label::before {
    content: '';
    position: absolute;
    left: 0.2rem;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    border: solid 1px var(--border-color);
    margin-top: calc(-0.6rem - 1px);
}

.choices > div > input:checked ~ label::before {
    background-color: var(--theme-color);
    border-color: var(--theme-border-color);
}

.choices > div > input:checked ~ label::after {
    content: '';
    position: absolute;
    left: 0.62rem;
    top: 50%;
    width: 0.3rem;
    margin-top: -0.45rem;
    height: 0.6rem;
    border-bottom: solid 0.15rem var(--bg-color);
    border-right: solid 0.15rem var(--bg-color);
    transform: rotate(40deg);
}

#color-choice img {
    height: 2rem;
}

.main-enter-game {
    padding: 0 1rem 1rem;
}

input[type=submit] {
    margin-top: 1rem;
}
