<!doctype html>
<html onclick="close_dialog_boxes();">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">

    <script src="static/js/quarantine.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/quarantine.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    <title>skat.watch</title>
</head>

<body>
<main>
    <div class="seeds">
        <a class="seed-button" href="/quarantine?seed={{.LastSeed}}">
            <div class="last-seed">
                <span>-</span>
            </div>
        </a>
        <div class="current-seed">
            <span>Seed: {{.CurrentSeed}}</span>
        </div>
        <a class="seed-button"  href="/quarantine?seed={{.NextSeed}}">
            <div class="next-seed">
                <span>+</span>
            </div>
        </a>
    </div>
    <div class="bubble" onclick="toggleView('player0')">
        <span>Vorhand</span>
        <div class="cards" id="player0">
            {{range .Player0}}
                <div class="card">
                    <img class="card_image" src="static/svg/{{.Color}}.svg" alt="{{.Color}}"/>
                    <div class="value">{{.Value}}</div>
                </div>
            {{end}}
        </div>
    </div>
    <div class="bubble" onclick="toggleView('player1')">
        <span>Mittelhand</span>
        <div class="cards" id="player1">
            {{range .Player1}}
                <div class="card">
                    <img class="card_image" src="static/svg/{{.Color}}.svg" alt="{{.Color}}"/>
                    <div class="value">{{.Value}}</div>
                </div>
            {{end}}
        </div>
    </div>
    <div class="bubble" onclick="toggleView('player2')">
        <span>Rückhand</span>
        <div class="cards" id="player2">
            {{range .Player2}}
                <div class="card">
                    <img class="card_image" src="static/svg/{{.Color}}.svg" alt="{{.Color}}"/>
                    <div class="value">{{.Value}}</div>
                </div>
            {{end}}
        </div>
    </div>
    <div class="bubble" onclick="toggleView('skat')">
        <span>Skat</span>
        <div class="cards" id="skat">
            {{range .Skat}}
                <div class="card">
                    <img class="card_image" src="static/svg/{{.Color}}.svg" alt="{{.Color}}"/>
                    <div class="value">{{.Value}}</div>
                </div>
            {{end}}
        </div>
    </div>
</main>

<footer>

</footer>
</body>
</html>
